/**
 * The Belwe Font is used on certain parts of the cards and must be present
 * when rendering cards.
 * Sunwell will preload the font and wait until its ready.
 */
@font-face {
    font-family: 'Belwe';
    src: url('belwe_bold-webfont.eot');
    src: url('belwe_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('belwe_bold-webfont.woff2') format('woff2'),
         url('belwe_bold-webfont.woff') format('woff'),
         url('belwe_bold-webfont.ttf') format('truetype'),
         url('belwe_bold-webfont.svg#belwebold') format('svg');
    font-weight: normal;
    font-style: normal;
}